

# Python
venv
__pycache__

# Audio
*.wav
*.flac
*.mp3
*.part
*.m3u8

# Radio
radio

# Website
node_modules

# Jupyter Notebook
.ipynb_checkpoints

# Temp
temp

# Build
bin
bin-int

# Others
model.*
simple_audio.*
vcpkg_installed

.vs/
.vscode/

*.sln
*.vcxproj
*.vcxproj.*